
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: blue;
}
.titulo{
    color: white;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
}
.subtitulo{
    color: white;
    font-size: 20px;
}
.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon{
    width: 180px;
    height: 100px;
    background-color: blueviolet;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-mokepon img{
    width: 60px;
}

#boton-mascota{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
input{
    display: none;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes{
    width: 280px;
    border-radius: 20px;
    background-color: pink;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar{
    border-radius: 20px;
    color: blue;
    font-family: 'Poppins', sans-serif;
}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}
#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}